*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    font-family: sans-serif;
}
.templete{
    width: 1200px;
    margin: 0 auto;
}
.clear{
    overflow: hidden;
}
hr{
    border: none;
    height: 1px;
    background: #464646;
}
.headup{
    height: 40px;
}
.headup_left{
    width: 600px;
    float: left;
    margin-left: 20px;
    margin-top: 13px;
}
.headup_left p{
    font-size: 12px;
    font-family: sans-serif;
    color:#4B4B4B;
}
.headup_right{
    float: right;
    width: 400px;
       
}
.iclass{
    margin-left: 190px
}
.headup_right i{
    padding: 10px;
    font-size: 18px;
    border-left:  1px solid #EFEFEF;
    color: #EFEFEF;
    
      
}
i:nth-child(5){
    border-right: 1px solid #EFEFEF;
}

.headdown{
    height: 100px;
}
.headdown_left{
    float: left;
    font-size: 32px;
    padding: 25px;
    width: 200px;
}
.headdown_left h4{
    color: #4A4A4A;
}
.headdown_right{
    float: right;
    width: 700px;
}
.headdown_right ul{
      margin: 20px;
    padding: 10px
   
}
.headdown_right ul li{
    display: inline;
    padding: 10px
}
.headdown_right ul li a{
    text-decoration: none;
    color: #4A4A4A;
    padding: 15px;
}
.headdown_right ul li a:hover{
    background: #49BF4C;
    color: white;
     padding: 15px;
}
.headdown_right ul li.active a{
     background: #49BF4C;
    color: white;
}
.main{
    background: #002633;
    height: 585px;
    
}
.pic{
    width: 1050px;
    margin: 0 auto;
    padding: 100px;
  
}
.picture{
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    height: 400px;
   width: 1100px;
}
.allp{
     width: 500px;
    padding: 30px
}
.allp{
    font-size: 50px;
    color: white;
    font-family: 'Lato', sans-serif;
        
}
   
.p2{
    font-size: 20px;
    padding: 35px;
    width: 400px;
}
.p2 p{
    line-height: 30px;
    color: white;
}

.premium{
    float: right;
    margin-top: -20px;
    position: fixed;
    
}
.premium img{
    position: relative;
    margin-left: 1480px;

}
.maincontent{
    height: 550px;
    
}
.article{
    padding: 70px 0px;
    width: 380px;
    float: left;
    margin-left: 10px 
}
.article img{
    width: 360px;  
    margin-bottom: 20px;
}
.article h4{
    color: #002633;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    
}
.article p{
    color: #77777F;
    line-height: 25px;
    margin-bottom: 20px;
}
.article a{
    color: #77777F;
    text-decoration: none;
    
}
.article a:hover{
    color: #49BF4C;
   
}

.subsection{
    background: #49BF4C;
    height: 320px;
}
.subsec{
    
    width: 800px;
    padding-top: 90px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    
}
.subsec h1{
    font-size: 40px;
    margin-left: 80px;
    margin-bottom: 25px;
  
}
.subsec p{
    margin-left: 80px;
    line-height: 30px;
    font-size: 20px
        
}

.fruit{
    height: 650px;
    font-family: 'Barlow', sans-serif;
    width: 1100px;  
}

.fruit img{
    margin-top: -100px;
    margin-left: 80px
}
.fruit h1{
    margin-left: 150px;
    font-size: 50px;
    margin-bottom: 20px;
    color: #172633;
    text-align: center;
}
.fruit h4{
    color:  #49BF4C;
    text-align:center;
    font-size: 20px;
}
.fruit p{
    color: #777777;
    font-size: 21px;
    line-height: 25px;
    text-align: center
}
.secimg{
    margin-top: 45px;
    text-align: center;
    margin-right: 80px;
}
.blog{
   height:
}
.bolog h1{
    font-family: 'Barlow', sans-serif;
    text-align: center;
    margin-top: 80px;
    font-size: 50px;
    color: #002633;
}
.block-section{
    font-family: 'Barlow', sans-serif;
       
}
.block_section_one{
    float: left;
    height: 200px;
    margin-top: 60px;
    width: 600px;
       
}
.block_section_one img{
    width: 200px;
    float: left;
    margin-right: 40px;
    transition: all 0.4s linear;
   margin-left: 40px;
}
.block_section_one img:hover{
    transform: scale(1.2);
}
.block_section_one h2{
    color: #002633;
    font-size: 25px;
    margin-bottom: 20px;
}
.block_section_one p{
    color: #929292;
    line-height: 25px;
    margin-bottom: 20px;
}

.block_section_one a{
    text-decoration: none;
    color: #929292;
}
.block_section_one a:hover{
    color:  #49BF4C;
}
.line{
    background:  #49BF4C;
    height: 80px;
    
}
.i_section{
    text-align: center;
    color: white;
   
   
}
.i_section i{
    font-size: 30px;
    padding: 5px;
    margin-top: 20px
}

.about{
    background: #002633;
    height: 600px;
}
.all_div{
   float: left;
    width: 400px;
    
}
.one_div_up{
   width: 300px;
    height: 100px;
    padding: 40px;
    font-family: sans-serif;
   
  
   
}
.one_div_up h3{
    color: white;
    margin-bottom: 20px;
    
}
.one_div_up p{
    font-style: italic;
    color: #5F818B;
    line-height: 25px;
    
}
.one_div_down{
   width: 350px;
    height: 200px;
    padding: 40px;
    font-family: sans-serif;
}
.one_div_down img{
    width: 100px;
    float: left;
    margin-right: 20px;
   transition: all 0.4s linear;
}
.one_div_down img:hover{
     transform: scale(1.1);
}
.one_div_down h3{
    color: white;
    margin-bottom: 20px;
    
}
.one_div_down p{
    color: #5F818B;
    margin-bottom: 20px;
}
.one_div_down a{
    text-decoration: none;
     color: #5F818B;
    margin-left: 120px;
}

.one_div_down a:hover{ color: white;}
.contact{
    float: left;
}
.all_contact{
    width: 400px;
    height: 200px;
    padding: 40px;
    font-size: 14px;
}
.all_contact h3{
    color: white;
    font-size: 19px;
    
}
.all_contact ul{
    line-height: 40px;
}
.all_contact ul li{
    list-style: none;
    
}
.all_contact ul li i{
    color: #49BF4C;
    float: left;
    margin-right: 15px;
    margin-top: 13px;
    
}
.all_contact ul li p{
    color: #5F818B;
}
.all_contact ul li a{
    color: #5F818B;
    text-decoration: none;
    
}
.all_contact ul li a:hover{
    color: #49BF4C;
}


























